{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["../"],
        "alias": {
          "scroll-into-view-if-needed": "./src"
        }
      }
    ]
  ]
}