node_modules

# Cypress stuff
**/cypress/screenshots
**/cypress/videos
**/junit

# Browserstack stuff
**/tests_output
selenium-debug.log

# Typescript stuff
typings
src/*.js

lerna-debug.log
.next
dist
es
umd
/compute.js
/index.js
/types.js
/viewport.js