node_modules

# Cypress stuff
**/cypress/screenshots
**/cypress/videos
**/junit

# Browserstack stuff
**/tests_output
selenium-debug.log

# Typescript stuff
src/*.js

lerna-debug.log
.next
tests/web-platform/local.log
.vscode
dist