version: 2
jobs:
  build:
    docker:
      - image: circleci/node:carbon-browsers

    working_directory: ~/repo

    steps:
      - checkout

      - run: node --version

      - run: npx --version

      - run: npm --version

      - run:
          name: Install Cypress dependencies
          command: sudo apt-get install xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2

      - add-ssh-keys:
          fingerprints:
            - "e1:ca:5d:f0:58:11:c7:ae:b7:ac:4a:1b:cc:3a:0d:4a"

      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "yarn.lock" }}
            - v3-dependencies-

      - run: yarn install

      - run: yarn build

      - run: 
          command: yarn start
          background: true

      - run: npx wait-on http://localhost:3000

      - run: yarn test

      - store_test_results:
          path: junit
      - store_artifacts:
          path: junit  
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

      - save_cache:
          paths:
            - node_modules
          key: v3-dependencies-{{ checksum "yarn.lock" }}

      - run: yarn semantic-release || true

      - run:
          name: Maybe deploy to gh-pages
          command: |
            if [[ $CIRCLE_BRANCH == master ]]; then
              yarn docs
            fi