
aliases:
  - &restore-cache
    keys:
      - v4-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
      # Fallback in case checksum fails
      - v4-dependencies-{{ .Branch }}-

  - &install
    # --frozen-lockfile ensures the build will fail if the lockfile needs to be updated
    run: yarn --no-progress --frozen-lockfile

  - &save-cache
    paths:
      - node_modules
    key: v4-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}

  - &cypress-dependencies-install
    run:
      name: Install Cypress dependencies
      command: sudo apt-get install xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2

version: 2
jobs:
  Typecheck:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore-cache: *restore-cache
      - *install
      - run:
          command: yarn typecheck
          working_directory: packages/scroll-into-view-if-needed
      - save-cache: *save-cache

  Build:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore-cache: *restore-cache
      - *install
      - run:
          command: yarn build
          working_directory: packages/scroll-into-view-if-needed
      - save-cache: *save-cache

  Website:
    docker:
      - image: circleci/node:carbon-browsers
    steps:
      - checkout
      - run: 
          name: Report dependency versions included in the docker image
          command: node --version && npm --version && npx --version && yarn --version
      - *cypress-dependencies-install
      - restore-cache: *restore-cache
      - *install
      - run: echo TODO
      - save-cache: *save-cache

  Semantic Release:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore-cache: *restore-cache
      - *install
      - run: echo TODO build
      - save-cache: *save-cache
      - run: yarn semantic-release

# Workflows enables us to run multiple jobs in parallel
workflows:
  version: 2
  Build and Deploy:
    jobs:
      - Typecheck
      - Build
      - Website
      - Semantic Release:
          requires:
            - Typecheck
            - Build
            - Website
          filters:
            branches:
              only: master