*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.test-switcher {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.example {
  font-size: 50px;
  color: papayawhip;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-full-height {
  height: 100vh;
}

.bulls-eye {
  --size: 100px;
  background: #ffeb3b;
  height: var(--size);
  width: var(--size);
}

[data-test='pass'] {
  background: #4caf50;
}
[data-test='fail'] {
  background: #f44336;
}
