{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["import", "react"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],
  "rules": {}
}